# demo
FOO=foo
BAR=bar
FOOBAR=$FOO$BAR
ESCAPED_DOLLAR_SIGN='$1000'
# This is a comment

# for imboyapp
API_BASE_URL=https://dev.imboy.pub
WS_URL=wss://dev.imboy.pub/ws/
STUN_URL=stun:dev.imboy.pub:34780
TURN_URL=turn:dev.imboy.pub:34780?transport=udp
# 用于服务端和APP交互数据对称加密的密钥 16 字符 或者32 位字符串， 需要和服务端一致
SOLIDIFIED_KEY=
# IV 必须都为128比特，也就是16字节，需要和服务端一致
SOLIDIFIED_KEY_IV=

AMAP_WEBS_KEY =
AMAP_IOS_KEY =
AMAP_ANDROID_KEY =

UPLOAD_BASE_URL=https://a.imboy.pub
UPLOAD_SENCE=dev
# 文件上传密钥
UP_AUTH_KEY=B)e?P]+xA3.]X6xC

SENTRY_DSN=https://9e512a223b3946b3afe99054078ce04d@o436562.ingest.sentry.io/5397926

# 需要在 ./android/local.properties 文件里面设置 jpush.appKey参数为同样的key（注意=两端不要有空格）
JPUSH_APPKEY =
